# Salin file ini jadi ".env" lalu isi dengan kredensial Supabase kamu.
# Ambil dari: Supabase Dashboard -> Project Settings -> API

VITE_SUPABASE_URL=https://dpyxfokyihreduzgpwyv.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_612mPRnCOqMGEx-74vRBig_ULYumvMU
