# Salin file ini jadi ".env" lalu isi dengan kredensial Supabase kamu.
# Ambil dari: Supabase Dashboard -> Project Settings -> API

VITE_SUPABASE_URL=https://#############.supabase.co
VITE_SUPABASE_ANON_KEY=################
